<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Basic Blog</title>
</head>
<body style="background-color: #010a1b">
    <h1 style=" text-align: center; color: whitesmoke">All posts</h1>
    <ul style= "display : flex ; flex-flow: column; gap: 10px;" >
        {% for post in posts  %}
        <li>
            <div style="border: 1px solid #38E54D; width:94%; padding:10px; border-radius:4px;">
                <h2 style="color:whitesmoke">{{ post.title }}</h2>
                <p style="color: #9CFF2E">{{ post.body }}</p>
            </div>

        </li>
        
        {% endfor %}

    </ul>
    
</body>
</html>